PORT=3000
NODE_ENV=development

# GLPI
GLPI_BASE_URL=
GLPI_APIKEY=

# Database (choose one strategy)
DB_URL=
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=

# API Auth
API_AUTH_TOKEN=

# Dashboard Auth
DASHBOARD_USER=
DASHBOARD_PASS=
